<?xml version="1.0" encoding="utf-8"?>
<plugin id="com.outsystems.odc.wsclient.plugin" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>OdcWsClient</name>
    <js-module name="OdcWsClient" src="www/OdcWsClient.js">
        <clobbers target="cordova.plugins.OdcWsClient" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="OdcWsClient">
                <param name="android-package" value="com.outsystems.odc.wsclient.plugin.OdcWsClient" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml">
        </config-file>
        <source-file src="src/android/OdcWsClient.java" target-dir="src/com/outsystems/odc/wsclient/plugin" />
        <framework src="src/android/dependencies.gradle" custom="true" type="gradleReference" />
    </platform>
</plugin>
